@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Roboto, Ubuntu, Arial, sans-serif;
}

.text-center {
  text-align: center;
}

.text-message {
  color: #999;
  fill: #999;
}

.text-bold {
  font-weight: 700;
}

.label {
  display: inline-block;
  padding: 6px 0.5em 6px 0;
  font-size: 16px;
}

.text-monospace {
  font-family: 'Menlo', 'dejavu sans mono', 'Consolas', 'Lucida Console', monospace
}

.flex-static {
  flex: 0 0 auto;
}
.flex-fill {
  flex: 1;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e4e4e4;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
}

/*
 * Corrections
 */

.popover {
  max-width: unset;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.popover-header {
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-right-radius: calc(0.3rem - 1px);
  border-top-left-radius: calc(0.3rem - 1px);
}
.popover-body {
  padding: 9px 14px;
}

.sort-column > span.fa {
  margin: 0 5px !important;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}
.btn-secondary:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-secondary:focus, .btn-secondary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
          box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}
.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: #fff;
  border-color: #ccc;
}
.btn-secondary:not([disabled]):not(.disabled):active,
.btn-secondary:not([disabled]):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #292b2c;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
}

.dropdown--inline {
  display: inline-block !important;
}

.btn, .dropdown-toggle, .dropdown-item {
  cursor: pointer;
}
.dropdown-toggle {
  width: 100%;
}
.dropdown-toggle::after {
  position: absolute;
  top: 1em;
  right: 0.7em;
}



/*
 * Elements
 */

.box {
  display: block;
  padding: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
.box__header {
  padding: 2px 14px;
  margin-bottom: 0;
  font-weight: bold;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-right-radius: calc(0.3rem - 1px);
  border-top-left-radius: calc(0.3rem - 1px);
}
.box__body {
  padding: 2px 14px;
}
.box__badge {
  float: right;
  color: #999;
  font-weight: normal;
  font-size: 0.9em;
  padding-top: 0.1em;
}


.vertical-hr {
  margin-right: 1em;
}


/*
 * Components
 */

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #7249AD 0%,#7E50BF 100%);
  color: white;
  padding-top: 2rem;
}
.Header__title {
  text-align: center;
  font-size: 70px;
  line-height: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
.Header__subtitle {
  text-align: center;
  color: #B388FF;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


.Controls {
  padding: 1em 4em;
}
.Controls > *:not(:last-child) {
  margin-right: 1em;
}
.Controls__chromosome {
  width: 150px;
}


.Params th,
.Params td {
  text-align: center;
  border: 0 !important;
}
.Params tr > * {
  opacity: 0;
  transform: scale(0);
}
.Params.visible tr > * {
  opacity: 1;
  transform: scale(1);
}
.Params tr > *:nth-child(1) { transition: 0.00s all 0.75s cubic-bezier(0.51, 0.11, 0.64, 1.41);  }
.Params tr > *:nth-child(2) { transition: 0.15s all 0.75s cubic-bezier(0.51, 0.11, 0.64, 1.41);  }
.Params tr > *:nth-child(3) { transition: 0.30s all 0.75s cubic-bezier(0.51, 0.11, 0.64, 1.41);  }
.Params tr > *:nth-child(4) { transition: 0.45s all 0.75s cubic-bezier(0.51, 0.11, 0.64, 1.41);  }
.Params tr > *:nth-child(5) { transition: 0.60s all 0.75s cubic-bezier(0.51, 0.11, 0.64, 1.41);  }
.Params tr > *:nth-child(6) { transition: 0.75s all 0.75s cubic-bezier(0.51, 0.11, 0.64, 1.41);  }
.Params tr > *:nth-child(7) { transition: 0.90s all 0.75s cubic-bezier(0.51, 0.11, 0.64, 1.41);  }


.loading::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #999
}
.loading::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 100px;
  left: calc(50% - 25px);
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #999;
  border-bottom-color: #999;
  border-radius: 50%;
  width:  60px;
  height: 60px;
  animation: 1s spin infinite;
  opacity: 0.5;
}


.autocomplete {
  position: relative;
}
.autocomplete__dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 100;
  left: 0px;
  right: auto;
  display: block;
  border-radius: 4px;
  margin: 6px 0 0;
  text-align: left;
  height: auto;
  background: transparent;
  width: 100%;
  min-width: 0 !important;
  max-width: none !important;
  padding: .75rem 0 !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
}
@media (min-width: 768px) {
  .autocomplete__dropdown-menu {
    width: 175%;
  }
}
.autocomplete__item {
  color: black;
  cursor: pointer;
}
.autocomplete__item:hover,
.autocomplete__item--selected {
  background-color: rgba(208,189,236,.15);
}
.autocomplete__item--empty {
  font-style: italic;
  color: #999;
  cursor: default;
}
.autocomplete__item > span {
  display: block;
  padding: .25rem 1rem;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 400;
}
.autocomplete__item > span .highlight {
  color: #5f2dab;
  background-color: rgba(154,132,187,.12);
}
