~$*
/.idea
/data/*
!/data/.gitkeep
!/data/assemblies
!/data/otherData
!/data/ucsc.other-tracks.txt
/input-files/*.csv
!/input-files/flu-infection-gene-peaks.csv
/config.js
/public/*
node_modules
/.env
/*.gff3
/*.gff3.gz
